# Gemini API Key
GEMINI_API_KEY=

# Supabase Settings
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
VITE_GOOGLE_MAPS_API_KEY=
APP_URL=https://ais-dev-vvr62b2cevd64gsfjahgsh-726237800332.asia-east1.run.app
